.slice {
	display        : inline-block;
	box-sizing     : border-box;
	width          : 150px;
	margin         : 0;
	padding        : 0.5em 0.25em 0.25em 0.25em;
	vertical-align : top;
	font           : normal 1em/1 sans-serif;
	font-family    : -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", "Helvetica", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

	.slice:first-child {
		border: 0;
	}

	.slice--new-day {
		border-left: 0.2em dotted #888888;
	}

	.slice--highest {
		background: #ffd3da;
	}

	.slice--lowest {
		background: #d6e8ce;
	}

.hdr {
	min-height: 4.5em;
}

.time {
	margin: 0;
	padding: 0 0.5em 0.5em 0.5em;
	text-align: center;
}

.day {
	margin: 0;
	padding: 0;
	text-align: center;
}

.plug-in {
	color: green;
	margin: 0;
	padding: 0 2em 0.25em 1em;
	text-align: center;
}

	.plug-in img {
		display: inline-block;
		vertical-align: middle;
		width: 22px;
		height: 22px;
		margin: -0.2em 0.25em 0 0;
	}

.unplug {
	color: red;
	margin: 0;
	padding: 0 2em 0.25em 1em;
	text-align: center;
}

	.unplug img {
		display: inline-block;
		vertical-align: middle;
		width: 22px;
		height: 22px;
		margin: -0.2em 0.25em 0 0;
	}

.indicator {
	height:  300px;
	display: block;
	position: relative;
}

.indicator__text {
	font-size: 1.25em;
	text-align: center;
	margin: 0;
	padding-top: 1.25em;
}

.indicator__house,
.indicator__text {
	position: absolute;
	box-sizing: border-box;
	left: 50%;
	transform: translateX(-50%) translateY(-50%) ;
	width:  64px;
	height: 64px;
}

.indicator--very-high .indicator__house,
.indicator--very-high .indicator__text {
	top: 32px;
}

.indicator--high .indicator__house,
.indicator--high .indicator__text {
	top: calc(25% + 32px);
}

.indicator--moderate .indicator__house,
.indicator--moderate .indicator__text {
	top: 50%;
}

.indicator--low .indicator__house,
.indicator--low .indicator__text {
	bottom: calc(25% - 32px);
}

.indicator--very-low .indicator__house,
.indicator--very-low .indicator__text {
	bottom: 32px;
}

.indicator--very-high .indicator__house {
	stroke: #EE3350;
}

.indicator--high .indicator__house {
	stroke: #F89834;
}

.indicator--moderate .indicator__house {
	stroke: #FFE600;
}

.indicator--low .indicator__house {
	stroke: #74C050;
}

.indicator--very-low .indicator__house {
	stroke: #74C050;
}


.vh {
	display: none;
}