.timeline {
	background: #fff;
	background: linear-gradient(to right, #eeeeee 0%, #eeeeee 50%, #ffffff 50%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background-size: 300px auto;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
}

